---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";


// Define static paths
export async function getStaticPaths() {
  const writing = await getCollection("writing");

  return writing.map((writing) => ({
    params: { slug: writing.slug },
    props: { writing },
  }));
}

// Define the props type explicitly
type Props = {
  writing: CollectionEntry<"writing">;
};

// Extract props from Astro
const { writing } = Astro.props;
const { Content } = await writing.render();

const formattedDate = new Date(writing.data.date).toLocaleDateString("en-GB", {
  day: "2-digit",
  month: "2-digit",
  year: "2-digit",
});
---

<PageLayout title={writing.data.title} description={writing.data.description}>
  <Container>
    <section class="flex flex-col sm:flex-row mx-auto">
    <div class="space-y-2 sm:w-1/2">
      <h2 class="animate">{writing.data.title}</h2>
      <p class="animate text-black">{writing.data.description}</p>
      <p class="animate text-black/50 text-sm">Published - {formattedDate}</p>
    </div>
    <div class="flex sm:w-1/2">
        <article class="animate">
          <Content />
        </article>
    </div>
  </section>
  </Container>
</PageLayout>
